.form_container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
}
.form_container input[type='submit'] {
    border-radius: 8px;
    background-color: #66ccff;
    color: #fff;
    border: none;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.7s;
}
.form_container input[type='submit']:hover {
    background-color: #66ffa1;
    cursor: pointer;
}
.form_container p {
    margin-top: 1em;
}
.form_container p a {
    color: #66ccff;
    font-weight: bold
}